[submodule "MensTRAckerBackend"]
	path = MensTRAckerBackend
	url = https://github.com/VakeDomen/MensTRAckerBackend.git
[submodule "MensTRAckerFrontend"]
	path = MensTRAckerFrontend
	url = https://github.com/VakeDomen/MensTRAckerFrontend.git
